<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div><h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form></div>

<div>
    <h1 th:text="${message}">Hello!</h1>

</div>
<div>
    <form method="post" action="/hello" >
        <input type="text" name="fio" placeholder="Введите fio">
        <input type="text" name="login" placeholder="Введите login">
        <input type="text" name="pass" placeholder="Введите pass">
        <input type="text" name="email" placeholder="Введите email">
        <input type="text" name="phone" placeholder="Введите phone">

        <button type="submit">Добавить</button>
    </form>
</div>

<div>Список клиентов</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">Найти</button>

</form>
<form method="post" action="delete">
    <input type="text" name="delete">
    <button type="submit">Удалить</button>

</form>
<table border="1" style="width:300px">
    <tr>
        <td>id</td>
        <td>email</td>
    </tr>
    <tr th:each="client : ${clients}">
        <td
            th:text="${client.id}">
        </td>
        <td
                th:text="${client.email}">
        </td>
        <td
                th:text="${client.fio}">
        </td>
    </tr>


</table>


</body>
</html>